<settings>
    <profiles>
        <profile>
            <id>SecureIoT-profile</id>
            <properties>
                <android.sdk.path>/opt/android-sdk-linux/</android.sdk.path>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>SecureIoT-profile</activeProfile>
    </activeProfiles>
</settings>
